#intro {
	margin: 0 auto;
	text-align: center;
	width: 1000px;
	font-family: "proxima-nova", Arial, "Lucida Grande", sans-serif; 
}

#intro p {
	margin: 20px 0 30px;
}



.bio {
	background-color: #71A542; 
	background-size: 100%;
	width: 1000px;
	color: #000;
	font-family: "proxima-nova", Arial, "Lucida Grande", sans-serif; 
	text-align: justify;
	padding: 20px 0;
	margin: 40px 0;
}

.bio-inner {
	width: 100%;
	background-color: white;
	margin: 0 auto;
}

.bio .column1 {
	width: 50%;
	float: left;
	padding-right: 20px;
	box-sizing: border-box;
	background-color: #D3D3D3;
}

.bio h3 {
	text-transform: uppercase;
	font-size: 50px;
	line-height: 50px;
}

.bio .column2 {
	padding-left: 20px;
	width: 50%;
	float: right;
	box-sizing: border-box;
	background-color: #D3D3D3;
}

.bio h4 {
	font-family: "proxima-nova", Arial, "Lucida Grande", sans-serif; 
	margin: 20px 0 0;
	font-weight: 300;
	font-size: 30px;
	text-transform: uppercase;
}

.bio .astars {
	font-weight: 800;
}

.bio ul {
	list-style-type: none;
	padding: 0px;
	margin: 15px 0 0;
}

.bio .result {
	font-style: italic;
}

.stats {
	font-size: 49px;
	font-family: "proxima-nova", Arial, "Lucida Grande", sans-serif; 
	line-height: 40px;
	width: 1000px;
	margin: 110px auto 80px;
	font-weight: 100;
}

.stats .line {
	text-align: justify;
}

.stats .line:after {
	content: "";
	display: inline-block;
	width: 100%;
}

.stats .skill {
	font-weight: 300;
}

.green {
	color: #71A542;
}

.res1 {
	padding-top: 10px;
	color: black;
	text-align: left;
	font-weight: 400px;
}

.res2 { 
	padding-top: 10px;
	text-align:left;}

#res3 {color: black;
text-align: left;
font-weight: 200px;}

#res3 ul {
	color: black;
	font-weight: 1000px;
}
