#body 
{
	margin: 0;
	
	font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
   	font-weight: 500;
   	font-size: 24px;
   	line-height: 1.5em;
   	color: lightblue;
   	min-width: 1040px;
}
#container 
{
	background-color: black;
	color: white;

	margin-left: auto;
	margin-right: auto;
}
#header
{ 
	background-color: blue;
    color: white;
}

#body .background-image {
	width: 100%;
	height: 400px;
	background-position: left center;
	background-size: 100%;
	background-repeat: no-repeat;
}
#content 
{
	padding: 10px;
	background-color:black;

}
#navigation 
{ 
	width: 1000px;
    float: left;
    color: white; 
}
#main 
{ 
	width: 1000px;
   float: right;
   color: white;
}
#footer 
{ 
	clear: both; 
}

.res0{
	font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
   	font-weight: 300;
   	font-size: 25px;
   	line-height: 1.5em;
   	color: black;
   	min-width: 1040px;}

   	.res9{
	font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
   	font-weight: 500;
   	font-size: 45px;
   	line-height: 1.5em;
   	color: black;
   	min-width: 1040px;}
